@import "@style/main.scss";

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form-wrapper {
    max-width: 350px;
    padding: 10px;
    border: 1px solid lighten($main_background_color, 15%);
    border-radius: 10px;
    box-shadow: 0 5px 24px 3px lighten($main_background_color, 17%);
    background-color: transparent;

    &_heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}